<h2 class="heading1"><span class="maintext">Send Me Updates</span></h2>
<form class="form-horizontal contactform" method="post" >
	<div class="form-group">
		<label for="name" class="col-lg-2 control-label">Name</label>
		<div class="col-lg-10">
			<input type="text"  class="required" id="name" value="" name="name" placeholder="Name">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-lg-2 control-label">Email</label>
		<div class="col-lg-10">
			<input type="email"  class="required email" id="email" value="" name="email"  placeholder="email">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<input class="btn btn-orange" type="submit" value="Subscribe" id="submit_id">
		</div>
	</div>
</form>