<div class="col-lg-6  col-xs-12 col-sm-6">
	<h2 class="heading1"><span class="maintext"> Why Choose Us</span></h2>
	<ul id="myTab" class="nav nav-tabs">
		<li><a href="#creative"><i class="icon-magic"></i> Creative</a> </li>
		<li><a href="#bootstrap"><i class="icon-twitter"></i> Bootstrap</a> </li>
		<li><a href="#responsive"><i class="icon-beaker"></i> Responsive</a> </li>
		<li><a href="#customize"><i class="icon-cog"></i> Fully Customizable</a> </li>
	</ul>
	<div class="tab-content mytab">
		<div class="tab-pane" id="creative">
			<div class="imagepopup pull-left"><img class="pull-right" alt="" src="img/category1.jpg">
				<div class="viewicons"> 
					<a  href="img/product1a.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a>
					<a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a>
				</div>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>
				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.
				<br><br>
				<a href="portfolio.html" class="btn btn-orange btn-small pull-right ">Read More</a> 
			</p>
		</div>
		<div class="tab-pane" id="bootstrap">
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at  source.
				<br><br>
				Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
				<br><br>
				<a href="portfolio.html" class="btn btn-orange btn-small pull-right ">Read More</a> 
			</p>
		</div>
		<div class="tab-pane" id="responsive">
			<div class="imagepopup pull-right">
				<img class="pull-right" alt="" src="img/category1.jpg">
				<div class="viewicons">
					<a  href="img/product1a.jpg" data-original-title="View" class="tooltip-test prettyphotpopup">
						<i class="icon-search"></i>
					</a>
					<a href="portfolio.html" data-original-title="Link" class="tooltip-test">
						<i class="icon-link"></i>
					</a>
				</div>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				<br><br>
				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.
				<br><br>
				<a href="portfolio.html" class="btn btn-orange btn-small pull-right ">Read More</a> 
			</p>
		</div>
		<div class="tab-pane" id="customize">
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,discovered the undoubtable source.
				<br><br>
				Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
				<br><br>
				<a href="portfolio.html" class="btn btn-orange btn-small pull-right ">Read More</a> 
			</p>
		</div>
	</div>
</div>