<div class="container mt40 ">
	<ul class="features row ">
		<li class="col-lg-2 col-xs-6 col-sm-4"> <i class="fa fa-html5 font60"></i> <br>HTML5 Features </li>
		<li class="col-lg-2 col-xs-6 col-sm-4"> <i class="fa fa-twitter font60"></i> Twitter Bootstrap </li>
		<li class="col-lg-2 col-xs-6 col-sm-4"> <i class="fa fa-gift font60"></i> Unlimited Colors</li>
		<li class="col-lg-2 col-xs-6 col-sm-4"> <i class="fa fa-flag font60"></i> FontAwesome Icons </li>
		<li class="col-lg-2 col-xs-6 col-sm-4"> <i class="fa fa-css3 font60"></i> CSS3 Effects </li>
		<li class="col-lg-2 col-xs-6 col-sm-4"> <i class="fa fa-thumbs-up font60"></i> Jquery Plugins </li>
	</ul>
</div>