<section id="ourclient" class="container mt40 mb40">
	<h2 class="heading1"><span class="maintext">Featured Products </span></h2>   
	<div class="column5 carousel">
		<ul class="mt40 slides">
			<li><img src="http://www.theherbbasketllc.com/files/3582660/uploaded/Adrenal_Formula_Capsule_100_ct_large.gif" alt="" title=""/></li>
			<li><img src="http://www.theherbbasketllc.com/files/3582660/uploaded/Adrenal_Formula_Capsule_100_ct_large.gif" alt="" title=""/></li>
			<li><img src="http://www.theherbbasketllc.com/files/3582660/uploaded/Adrenal_Formula_Capsule_100_ct_large.gif" alt="" title=""/></li>
			<li><img src="http://www.theherbbasketllc.com/files/3582660/uploaded/Adrenal_Formula_Capsule_100_ct_large.gif" alt="" title=""/></li>
			<li><img src="http://www.theherbbasketllc.com/files/3582660/uploaded/Adrenal_Formula_Capsule_100_ct_large.gif" alt="" title=""/></li>
		</ul>
	</div>
</section>