<section class="mt40 m0 newsletter" id="newslettersignup">
	<div class="container">
		<div class="pull-left">
			<h2 class="heading2"><span class="maintext"><i class="icon-pencil"></i> Newsletters Signup</span></h2>
			Sign up to Our Newsletter &amp; get attractive Offers by subscribing to our newsletters. 
		</div>
		<div class="pull-right mt20">
			<form class="form-inline">
				<div class="input-prepend">
					<input type="text" class="subscribeinput" id="inputIcon" placeholder="Subscribe to Newsletter">
					<input type="submit" class="btn btn-orange" value="Subscribe">
				</div>
			</form>
		</div>
	</div>
</section>