<div class="container mt40">
	<h2 class="heading1 ">Latest</h2>
	<div class="row">
		<ul class="ourprocess mb40">
			<li class="col-lg-4 col-xs-12 col-sm-4"> <i class="icon-smile font96 pull-left"></i>
				<div class="processdetails">
					<h3>Article</h3>
					<p>Article Heading</p>
				</div>
			</li>
			<li class="col-lg-4 col-xs-12 col-sm-4"> <i class="icon-list-ol font96 pull-left"></i>
				<div class="processdetails">
					<h3>Recipe</h3>
					<p>Picture</p>
				</div>
			</li>
			<li class="col-lg-4 col-xs-12 col-sm-4"> <i class="icon-list-ol font96 pull-left"></i>
				<div class="processdetails">
					<h3>Discount</h3>
					<p>Picture</p>
				</div>
			</li>
		</ul>
	</div>
</div>