<div class="col-lg-6 col-xs-12 col-sm-6">
	<h2 class="heading1"><span class="maintext">Discussion</span> <a class="btn btn-orange btn-small pull-right">View All</a></h2>
	<div class="ourservicesmin"> 
		<a class="accrodian-trigger" ><i class="icon-lightbulb"></i>A Question</a>
		<div class="accrodian-data">
			<p>Top Response</p>
		</div>
		<a class="accrodian-trigger" ><i class="icon-lightbulb"></i>A Question</a>
		<div class="accrodian-data">
			<p>Top Response</p>
		</div>
		<a class="accrodian-trigger" ><i class="icon-lightbulb"></i>A Question</a>
		<div class="accrodian-data">
			<p>Top Response</p>
		</div>
		<a class="accrodian-trigger" ><i class="icon-lightbulb"></i>A Question</a>
		<div class="accrodian-data">
			<p>Top Response</p>
		</div>
		<a class="accrodian-trigger" ><i class="icon-lightbulb"></i>A Question</a>
		<div class="accrodian-data">
			<p>Top Response</p>
		</div>
	</div>
</div>