<div class="col-lg-6 col-xs-12 col-sm-6 mt40column1">
	<h2 class="heading1"><span class="maintext"> What Client's Say</span> <a class="btn btn-orange btn-small pull-right">View All</a></h2>
	<ul class="latesttestimonials">
		<li> <img class="imageleft" width="50" height="50" src="img/img-40x40.jpg" alt="product" title="product">
			<div class="detail"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <br>by : <span class="orange">pxcreate</span></div>
		</li>
		<li> <img class="imageleft" width="50" height="50" src="img/img-40x40.jpg" alt="product" title="product">
			<div class="detail">" Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>by : <span class="orange">pxcreate</span> </div>
		</li>
		<li> <img class="imageleft" width="50" height="50" src="img/img-40x40.jpg" alt="product" title="product">
			<div class="detail">" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. "<br>by : <span class="orange">pxcreate</span> </div>
		</li>
	</ul>
</div>
