<div class="col-lg-6  col-xs-12 col-sm-6">
	<h2 class="heading1"><span class="maintext"> Latest From Blog</span></h2>
	<div class="column2 carousel">
		<ul class="mt40 slides">
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product1big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product1big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 1</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product2big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product2big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 2</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product1big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product1big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 3</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product2big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product2big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 4</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product1big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product1big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 5</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product2big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product2big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 6</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product1big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product1big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 7</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
			<li>
				<div class="thumbnail">
					<div class="relativediv"><img src="img/product2big.jpg" alt="">
						<div class="viewicons"> <a  href="img/product2big.jpg" data-original-title="View" class="tooltip-test prettyphotpopup"><i class="icon-search"></i></a><a href="portfolio.html" data-original-title="Link" class="tooltip-test"><i class="icon-link"></i></a></div>
					</div>
					<div class="caption">
						<h3><a href="portfolio.html">Thumbnail label 8</a></h3>
						<p>illustration / design</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>