body{
	/*background-image: url('http://st.gdefon.com/wallpapers_original/wallpapers/331408_leto_yasnoe_nebo_cvety_salatovyj_zabor_pole_doroga_1920x1080_(www.GdeFon.ru).jpg');*/
	background-attachment: fixed;
}

header{
	background: #631;
}
.footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: -2;
}

.logo{
	background: #FFE4C4;
	border-radius: 1px;
	padding: 10px;
	box-shadow: 0px 0px 30px #FFF;
}

#maincontainer {
	/*background: rgba(255, 255, 255, 0.5);*/
	color: #111;
	margin-bottom: 450px;
}
#maincontainer .mainview {
	background: #FFF;
	z-index: 1;
}

.container.full{
	max-width: 100%;
	/* margin-top: -40px; */
	padding-top: 40px;
}

#sidebar{
	margin-top: -40px;
	min-height: 1000px;
	background: #FFF;
}
#sidebar h1{
	text-align: center;
	color: #029440;
	border-bottom: 2px double #029440;
}
#sidebar ul>li>a{
	border-radius: 0px;
	padding: 11px;
	font-weight: bold;
	display: block;
	border-bottom: 0px;
	color: #654;
	font-size: 16px;
}
#sidebar ul>li>ul>li a{
	padding: 5px 10px;
	display: block;
	border: 1px solid #CCC;;
	border-left: 3px solid #CCC;
	background: #EEE;
}
#sidebar .add{
    padding: 10px;
    text-align: right;
    font-size: smaller;
}#sidebar .fa{
	float: right;
}

#main{
	min-height: 1000px;
	margin-top: -40px;
	background: #FFF;
	border-left: 1px dashed #CCC;
}
#main>h1{
	display: inline-block;
	color: #029440;
	border-bottom: 2px double #029440;
}

.cards{
    margin-top: 20px;
}
.card{
    min-height: 200px;
    border: 1px solid #CCC;
    margin: 15px 0px;
}
.card h3{
	text-align: center;
}
.card.add h3, .card.full h3{
	margin: 0px;
	line-height: 200px;
}
.card img {
	height: 150px;
}

.product .details{

}
.product .description{
	padding: 20px;
	margin: 15px 0px;
}
.product .prod_picture{
	width: 200px;
	height: 200px;
	margin: 60px auto;
	box-shadow: 0px 0px 14px 1px #654;
	border: 3px double #654;
	border-radius: 5px;
	display: inherit;
}
.product .prod_picture img{
	height: 150px;
	margin: 25px auto;
	display: inherit;
}

.old_rust{
	box-shadow: inset 0px 0px 14px 1px #654;
	border-radius: 5px;
	background: #F2F2F2;
	border: 3px double #654;
}

#newArticle textarea{
	width: 100%;
	height: 200px;
}
.articleImg{
	display: block;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: white;
	background: #CCC;
	border-radius: 200px;
	margin: 5px auto;
}

.slides li{
	border-radius: 15px;
}
.slides li a{
	height: 170px;
	padding: 15px;
	background: #FFF;
	border-radius: 15px;
}

.videoplaceholder {
	height: 300px;
	background: #AAA;
}.videoplaceholder h1{
	line-height: 300px;
	color:pink
}





.child{
	display: none;
}
.parent:hover{
	box-shadow: inset 2px 0px 5px;
}.parent:hover .child{
	display: block;
}
.hand, [ng-click]{
	cursor: pointer;
}

.dropzone{
	display: block;
	width: 100%;
	min-height: 100px;
	border: 4px dashed #CCC;
	font-size: 30px;
	line-height: 100px;
	color: #CCC;
	text-align: center;
}
.dropzone-image img{
	max-width: 100%;
}
img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/*OVERRIDES*/
header .headerdetails{
	padding: 20px 0px;
}
select[multiple]{
	width: 100%;
	height: 200px;
}

@media (max-width: 768px) {
	#main{
		margin-top: 0px;
	}
}