<footer id="footer">
	<section class="footersocial">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xs-12 col-sm-6  recentpost">
					<h2> <i class="icon-comments-alt"></i> Recent Post </h2>
					<ul>
						<li><a href="blog.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
							<div class="recentposticon"> <span class="mr10"> <i class="icon-calendar"></i> Novemner 26, 2013 </span> <span class="mr10"><a ><i class="icon-comment"></i> 5 Comments</a></span></div>
						</li>
						<li><a href="blog.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
							<div class="recentposticon"> <span class="mr10"> <i class="icon-calendar"></i> Novemner 26, 2013 </span> <span class="mr10"><a ><i class="icon-comment"></i> 5 Comments</a></span></div>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-xs-12 col-sm-6 contact">
					<h2> <i class="icon-phone-sign"></i> Contact </h2>
					<ul>
						<li class="location">{{'STORE.LOCATION' | translate}}</li>
						<li class="phone">{{'STORE.PHONE' | translate}}</li>
						<li class="email">{{'STORE.EMAIL' | translate}}</li>
					</ul>
				</div>
				<div class="col-lg-3 col-xs-12 col-sm-6">
					<h2> <i class="icon-facebook"></i> Facebook </h2>
					<div class="social-feed facebook-feed"> </div>
				</div>
				<div class="col-lg-3 col-xs-12 col-sm-6 twitter">
					<h2> <i class="icon-twitter-sign"></i> Twitter </h2>
					<div id="twitter"> </div>
				</div>
			</div>
		</div>
	</section>
	<section id="quicklink">
		<div class="container">
			<div class="row">
				<ul class="quicklinks">
					<li><a href="#/">Home</a></li>
					<li><a href="#/education">Health Education</a></li>
					<li><a href="#/store">Store</a></li>
					<li><a href="#/blog">Blog</a></li>
					<li><a href="#/about">About Us</a> </li>
					<li><a href="#/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="copyrightbottom">
		<div class="container">
			<div class="row">
				<div class="pull-left">
					*The statements on this website have not been evaluated by the Food &amp; Drug Administration. These products are not intended to diagnose, treat, cure or prevent disease.*
				</div>
			</div>
			<div class="row">
				<div class="pull-left"> Copyright © 2013. The Herb Basket LLC. All rights reserved </div>
				<div class="pull-right"> Developed by Shawn &amp; Ryan</div>
			</div>
		</div>
	</section>
</footer>