<nav class="navbar navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">
			<img src="img/logo.png" alt="The Herb Basket Logo">
		</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav tabs">
			<li><a href="#/">{{ 'SITE.NAV.EDUCATION' | translate }}</a></li>
			<li><a href="#/about">{{ 'SITE.NAV.SHOP' | translate }}</a></li>
			<li><a href="#/contact">{{ 'SITE.NAV.ABOUT' | translate }}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="" ng-click="tools.user.settings()">{{user.name}} <i class="fa fa-cog"></i></a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Theme <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a ng-click="theme('dark')">Midnight</a></li>
					<li><a ng-click="theme('corp')">Corprate</a></li>
					<li><a ng-click="theme('dine')">Dinning</a></li>
					<li><a ng-click="theme('wood')">Wood</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>