<!-- Slider End-->
<div class="container mt40">
	<div class="row"> 
		<div class="col-lg-8  col-xs-12 col-sm-8 mt40column">
			<div ng-include="'partials/site/seo.html'"></div>
		</div>
		<div class="col-lg-4  col-xs-12 col-sm-4 mt40column">
			<div ng-include="'partials/site/contactForm.html'"></div>
		</div>
	</div>
</div>
<!-- Features-->
<!-- <div ng-include="'partials/site/features.html'"></div> -->
<!-- Latest Project-->
<!-- <div ng-include="'partials/site/itemScroll.html'"></div> -->
<!-- Our Process-->
<div ng-include="'partials/site/processSteps.html'"></div>
<div class="container mt40">
	<div class="row"> 
		<!-- Our Services-->
		<div ng-include="'partials/site/services.html'"></div>
		<!-- What Our Client Says-->
		<div ng-include="'partials/site/testamonial.html'"></div>
	</div>
</div>
<!-- <div class="container mt40">
	<div class="row"> 
		<div ng-include="'partials/site/contentTabs.html'"></div>
		<div ng-include="'partials/site/progressBars.html'"></div>
	</div>
</div> -->
<!-- Our Clinet-->
<div ng-include="'partials/site/fullCarousel.html'"></div>
<!-- Newsletter-->
<div ng-include="'partials/site/newsletter.html'"></div>