<div class="container full mt40" ng-controller="StoreCtrl">
	<div class="row">
		<div id="sidebar" class="col-lg-2 col-sm-2 col-xs-12 hidden-xs" ng-include="'partials/store/sidebar.html'"></div>
		<div id="main" class="col-lg-10 col-sm-10 col-xs-12" ng-include="'partials/store/'+view+'.html'"></div>
	</div>
</div>
<div ng-include="'partials/store/category/addModal.html'"></div>
<div ng-include="'partials/store/category/addSubModal.html'"></div>
<div ng-include="'partials/store/product/addModal.html'"></div>