<!-- <h1>Add An Article</h1> -->
<form id="newArticle" ng-submit="tools.article.save()">
	<div class="row">
		<div class="col-md-4 col-lg-3 information">
			<h1 ng-model="temp.article.title" contenteditable="true">Untitled Article</h1>
			<div media-manager="tools.article.setPicture" max-width="500" max-height="500">
				<div ng-hide="temp.article.picture" class="articleImg">Add Picture</div>
				<img id="articleImgPreview" class="articleImg"
						ng-show="temp.article.picture" 
						ng-class="temp.article.picture.class" 
						ng-src="{{temp.article.picture.src}}" 
						title="{{temp.article.picture.name}}">
			</div>
			<textarea ng-model="temp.article.html" class="full"></textarea>	
			<div class="form-group">
				<label for="productImg" class="control-label">Categories</label>
				<select multiple ng-model="temp.product.categories">
					<optgroup ng-repeat="category in data.categories" label="{{category.title}}">
					<option ng-repeat="sub in category.children">{{sub.title}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-8 col-lg-9">
			<div class="container" ng-model="temp.article.html" ng-bind-html-unsafe="temp.article.html"></div>
		</div>
	</div>
	<input class="btn btn-success pull-right" type="submit" 
		ng-hide="temp.article.picture.temp" value="Save Article">
	<input type="button" class="btn btn-inverse pull-right" 
		ng-show="temp.article.picture.temp" 
		title="Please wait for the picture to upload." value="Wait">
</form>