<h1>Welcome to Education!</h1>
<ul>
	<li>Host Local workshops</li>
	<li>Chat live from _-_/li>
	<li>Articles &amp; Resources (w/ html)</li>
	<li>Featured Articles</li>
	<li>Archives</li>
	<li>Link TO: products &amp; guest posts</li>
</ul>

<p>NOTE: we need an advertizement-like pictures for 'host local workshops', 'chat live', and others.</p>
<p>Articles: {listOfAllArticles} (objectId, title, product links)</p>

<!--
<h1>Welcome to Community!</h1>
<ul>
	<li>Guest Posts</li>
	<li>Approve Guest Posts (admin area)</li>
	<li>Fourm</li>
</ul>
-->