<h1>Welcome to Education!</h1>
<p>We hope you will be able to find everything you need right here to get started using herbs.</p>
<p>We are working diligently to provide you with the best resources from articles to discussions.  Let us know if you need help with anything or can't find what you are looking for and we will work to make it available so all can benifit.</p>
<p>We are constantly adding to our article database to provide you with the information you need to learn and use herbs in your life.</p>
<!-- <ul>
	<li>Host Local workshops</li>
	<li>Chat live from _-_/li>
	<li>Articles &amp; Resources (w/ html)</li>
	<li>Featured Articles</li>
	<li>Archives</li>
	<li>Link TO: products &amp; guest posts</li>
</ul>

<p>NOTE: we need an advertizement-like pictures for 'host local workshops', 'chat live', and others.</p>
<p>Articles: {listOfAllArticles} (objectId, title, product links)</p> -->

<!--
<h1>Welcome to Community!</h1>
<ul>
	<li>Guest Posts</li>
	<li>Approve Guest Posts (admin area)</li>
	<li>Fourm</li>
</ul>
-->