<h1>Education</h1>
<ul>
	<li><a class="old_rust" href="#/education/start">Getting Started</a></li>
	<li><a class="old_rust" href="#/education/workshops">Find A Local Workshop</a></li>
	<li><a class="old_rust" href="#/education/livechat">Live Help</a></li>
	<li><a class="old_rust" href="#/education/articles">Featured Articles</a></li>
	<li class="parent">
		<a class="old_rust" href="#/education/archives">Archives</a>
		<ul class="child">
			<li>
				<a href="#/education/articles">Articles</a>
				<a href="#/education/resources">Resources</a>
			</li>
		</ul>
	</li>
</ul>